<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0">

  <!--
    Credenciais vem do ambiente (ARTIFACTORY_USER / ARTIFACTORY_TOKEN). Este
    arquivo e' versionado porque o pipeline o referencia em .iupipes.yml
    (build.settings-path), entao ele NAO pode conter segredo literal.

    ATENCAO: os <id> abaixo nao casam com os <id> dos <repository> declarados em
    <profiles> (ex.: servidor 'es8-compopen' x repositorio 'itau-comp-open-maven-repo').
    O Maven so' aplica credenciais quando os ids sao iguais, entao boa parte
    destes blocos nunca autentica nada. Alinhar exige validar contra o
    Artifactory interno — nao foi alterado aqui.
  -->
  <servers>
    <server>
      <id>painel.repodep</id>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_TOKEN}</password>
    </server>
    <server>
      <id>es8-compopen</id>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_TOKEN}</password>
    </server>
    <server>
      <id>itau-sg2-maven-release</id>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_TOKEN}</password>
    </server>
    <server>
      <id>itau-sg2-maven-snapshot</id>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_TOKEN}</password>
    </server>
    <server>
      <id>itau-ea3-maven-snapshot</id>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_TOKEN}</password>
    </server>
    <server>
      <id>itau-ea3-maven-release</id>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_TOKEN}</password>
    </server>
    <server>
      <id>itau-se-maven-release</id>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_TOKEN}</password>
    </server>
    <server>
      <id>itau-se-maven-snapshot</id>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_TOKEN}</password>
    </server>
    <server>
      <id>maven-remote-cache-server</id>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_TOKEN}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>artifactory</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>maven-devel</name>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/maven-devel</url>
        </repository>
        <repository>
          <snapshots/>
          <id>snapshots</id>
          <name>maven-devel</name>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/maven-devel</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central-plugin</id>
          <name>maven-devel</name>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/maven-devel</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots/>
          <id>snapshots-plugin</id>
          <name>maven-devel</name>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/maven-devel</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>maven-remote-cache-profile</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>maven-remote-cache-repo1</id>
          <url>https://artifactory.prod.aws.cloud.ihf:443/artifactory/maven-remote-cache</url>
        </repository>
        <repository>
          <snapshots/>
          <id>maven-remote-cache-repo2</id>
          <url>https://artifactory.prod.aws.cloud.ihf:443/artifactory/maven-remote-cache/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>maven-remote-cache-plugin1</id>
          <url>https://artifactory.prod.aws.cloud.ihf:443/artifactory/maven-remote-cache/</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots/>
          <id>maven-remote-cache-plugin2</id>
          <url>https://artifactory.prod.aws.cloud.ihf:443/artifactory/maven-remote-cache/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>itau-se-maven-release</id>
      <repositories>
        <repository>
          <id>itau-se-maven-release-repo</id>
          <name>maven-remotes</name>
          <url>https://artifactory.prod.aws.cloud.ihf:443/artifactory/itau-se-maven-release/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>itau-se-maven-release-plugin</id>
          <url>https://artifactory.prod.aws.cloud.ihf:443/artifactory/itau-se-maven-release/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>itau-se-maven-snapshot</id>
      <repositories>
        <repository>
          <id>itau-se-maven-snapshot-repo</id>
          <name>maven-remotes</name>
          <url>https://artifactory.prod.aws.cloud.ihf:443/artifactory/itau-se-maven-snapshot/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>itau-se-maven-snapshot-plugin</id>
          <url>https://artifactory.prod.aws.cloud.ihf:443/artifactory/itau-se-maven-snapshot/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>es8-compopen</id>
      <repositories>
        <repository>
          <id>itau-comp-open-maven-repo</id>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/itau-comp-open-maven</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>itau-comp-open-maven-plugin</id>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/itau-comp-open-maven</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>itau-sg2-maven-release</id>
      <repositories>
        <repository>
          <id>itau-sg2-maven-release-repo</id>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/itau-sg2-maven-release</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>itau-sg2-maven-release-plugin</id>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/itau-sg2-maven-release</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>itau-sg2-maven-snapshot</id>
      <repositories>
        <repository>
          <id>itau-sg2-maven-snapshot-repo</id>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/itau-sg2-maven-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>itau-sg2-maven-snapshot-plugin</id>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/itau-sg2-maven-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>itau-ea3-maven-release</id>
      <repositories>
        <repository>
          <id>itau-ea3-maven-release-repo</id>
          <url>https://artifactory.prod.aws.cloud.ihf:443/artifactory/itau-ea3-maven-release</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>itau-ea3-maven-release-plugin</id>
          <url>https://artifactory.prod.aws.cloud.ihf:443/artifactory/itau-ea3-maven-release</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>itau-ea3-maven-snapshot</id>
      <repositories>
        <repository>
          <id>itau-ea3-maven-snapshot-repo</id>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/itau-ea3-maven-snapshot/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>itau-ea3-maven-snapshot-plugin</id>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/itau-ea3-maven-snapshot/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>ih2.release</id>
      <repositories>
        <repository>
          <id>ih2.release</id>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/itau-ih2-maven-release</url>
        </repository>
      </repositories>
    </profile>

    <profile>
      <id>ph5</id>
      <repositories>
        <repository>
          <id>itau-ph5-gradle-release</id>
          <name>itau-ph5-gradle-release</name>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/itau-ph5-gradle-release</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>itau-ph5-gradle-release</id>
          <name>itau-ph5-gradle-release</name>
          <url>https://artifactory.prod.aws.cloud.ihf/artifactory/itau-ph5-gradle-release</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
    <activeProfile>es8-compopen</activeProfile>
    <activeProfile>itau-sg2-maven-release</activeProfile>
    <activeProfile>itau-sg2-maven-snapshot</activeProfile>
    <activeProfile>itau-ea3-maven-release</activeProfile>
    <activeProfile>itau-ea3-maven-snapshot</activeProfile>
    <activeProfile>itau-se-maven-snapshot</activeProfile>
    <activeProfile>itau-se-maven-release</activeProfile>
    <activeProfile>maven-remote-cache-profile</activeProfile>
    <activeProfile>ih2.release</activeProfile>
    <activeProfile>ph5</activeProfile>
  </activeProfiles>
</settings>
