root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{yml,yaml,json,tf,tfvars}]
indent_size = 2

[*.md]
# Espaço no fim de linha é quebra de linha em Markdown.
trim_trailing_whitespace = false

[*.{cmd,bat}]
end_of_line = crlf

[Makefile]
indent_style = tab
